.image-gallery {
}

.embla {
  &__viewport {
    overflow: hidden;
    width: 100%;
    &.is-draggable {
      cursor: move;
      cursor: grab;
    }
    &.is-dragging {
      cursor: grabbing;
    }
  }

  &__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
  }

  &__slide {
    position: relative;
    min-width: 50%;
    padding-left: 10px;
    &-inner {
      position: relative;
      overflow: hidden;
      height: 150px;
      cursor: pointer;

      @include for-tablet-view {
height: 300px;
      }

      @include for-desktop-view {

        height: 500px;
      }
    }
    &-img {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      width: 100%;
      min-height: 100%;
      min-width: 100%;
      max-width: none;
      transform: translate(-50%, -50%);
    }
  }

  &__button {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    fill:  $color-old-burgundy;
    padding: 0;

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &-svg {
        width: 100%;
        height: 100%;
    }

    &--prev {
        left: 27px;
    }

    &--next {
        right: 27px;
    }
  }
  &__dots {
      
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
  }

  &__dot {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    outline: 0;
    border: 0;
    width: 30px;
    height: 30px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    display: flex;
    align-items: center;

    &:after {
        
  background-color: $color-old-burgundy-50;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
    }

    &--is-selected::after {
        
  background-color: $color-old-burgundy;
  opacity: 1;
    }
  }
}
